<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alias.openapiservice.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.alias.openapicommon.model.entity.InterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
            <result property="requestHeader" column="request_header" jdbcType="VARCHAR"/>
            <result property="responseHeader" column="response_header" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getInterfaceInfoByUserId" resultMap="BaseResultMap">
        SELECT
        ii.id AS `id`, ii.name AS `name`, ii.description AS `description`,
        ii.method AS `method`, ii.request_params AS `requestParams`,
        ii.request_header AS `requestHeader`, ii.price AS `price`,
        ii.url AS `url`, ui.left_num AS `leftNum`
        FROM
        user_interface_info ui
        LEFT JOIN interface_info ii ON ii.id = ui.interface_info_id
        WHERE
        ui.user_id = #{userId} AND ui.left_num > 0 AND ui.is_delete = 0 AND (ii.is_delete = 0 OR ii.is_delete IS NULL)
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
